:root {
    --main-button-color: hotpink;
}

/* for app */
.appcontainer-info {
    border-width: 0.05px;
    border-color: #d9d9d9;
    border-style: solid;
    float: left;
    height: 100vh;
    position: relative;
    padding: 0;
}

.appcontainer-main {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    height: 630px;
    position: absolute;
    padding : 0;
    border-radius: 10px;
    overflow: auto;
    -ms-overflow-style: none;  /*scrollbar 없애기 */
}

::-webkit-scrollbar {
    display: none; /* scrollbar 없애기 */
}
  
@media screen and (min-width: 801px) {
    .appcontainer-info {
        width: 350px;
    }
}

@media screen and (max-width: 800px) {
    .appcontainer-info {
        width: 100%;
        display: none;
    }
}

@media screen and (min-width: 801px) {
    .appcontainer-main {
        width: 400px;
        left: 50%;
        margin-top: 10px;
    }
}

@media screen and (max-width: 800px) {
    .appcontainer-main {
        width: 100%;
    }
}

.appcontainer-main .container {
    padding: 0px;
    margin: 0px;
}

/* for croppie */
.appcontainer-main #canvas {
   height: 600px;
   width: 600px;
   background-color: #ffffff;
   cursor: default;
   border: 1px solid black;
}

.info-title {
    background-color: var(--main-button-color);
    color: white;
    text-align: center;
    vertical-align: middle;
    height: 60px;
    font-size:40px;
    top:50%;
}

.info-title a {
    color:white;
}

.info-category p {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 20px;
    color: var(--main-button-color);
    font-weight: bold;
}
.info-button {
  background-color: white;
  border: 0.5px solid #d9d9d9; 
  outline: 0;
  padding: 10px 15px;
  text-align: left;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  display: block;
}
.info-button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* 오른쪽 화살표 */
.info-button:after {
  content: ">";
  color: #d9d9d9;
  float: right;
}
.info-button:hover:after {
    color: var(--main-button-color)
}

#upload-demo{
 width: 400px;
 height: 350px;
 padding-bottom:25px;
}

.img-profile {
    width: 100%;
    height:auto;
}

#profile-name {
    font-size: 30px;
    margin-bottom: 0px;
    margin-left:10px;
}
#profile-age {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 0px;
}
#profile-intro  {
    font-size: 20px;
    margin-left:10px;
}

.edit-item {
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
}
.edit-data {
    font-size: 20px;
    padding-left: 15px;
}

.form-field {
    border:none; 
    width:100%; 
    color: #a6a6a6;
}

/* image upload버튼 */
.filebox {
   position: absolute;
   right:0%;
}
.filebox img {
    height: 40px;
    width: 40px;
    background-color: var(--main-button-color);
    margin-top:-40px;
    cursor: pointer;
}
.filebox input[type="file"] { /* file field 숨기기 */
   position: absolute;
   clip:rect(0,0,0,0);
   border:0;
}

.media-box {
  cursor: pointer;
}