{% load staticfiles %}
{% load bootstrap4 %}
{% load i18n %}

{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{{ language_code }}">

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% trans 'blind meeting' %}">
    <meta name="author" content="Woosung Seo">

    <title>{% trans 'TingTang | Meeting' %}</title>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/croppie/css/croppie.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>
    <div class="container-fluid appcontainer-info">
        <div class="info-title">
            <a href="{% url 'app:profile' %}">
                {% trans 'My Profile' %}
            </a>
        </div>
        <div class="info-category">
            <p>account setting</p>
            <a href="{% url 'accounts:change_email' %}">
                <button type="button" class="info-button">
                    email
                </button>
            </a>
        </div>
        <div class="info-category">
            <p>etc</p>
            <a href="{% url 'accounts:log_out' %}">
                <button type="button" class="info-button">
                    logout
                </button>
            </a>
        </div>
        <div class="info-title" style="margin-top: 10px;">
            <a href="{% url 'app:list' %}">
                {% trans 'Today List' %}
            </a>
        </div>
        <div class="info-title" style="margin-top: 10px;">
            <a href="{% url 'app:profile' %}">
                {% trans 'My Match' %}
            </a>
        </div>
    </div>

    <div class="container-fluid appcontainer-main">
        <div class="row text-center menu-list">
            <div class="col-4 menu-item">
                <a href="{% url 'app:profile' %}">
                    {% trans 'My Profile' %}
                </a>
            </div>
            <div class="col-4 menu-item">
                <a href="{% url 'app:list' %}">
                    {% trans 'Today List' %}
                </a>
            </div>
            <div class="col-4 menu-item">
                <a href="{% url 'app:profile' %}">
                    {% trans 'My Match' %}
                </a>
            </div>
        </div>
        {% block main %}
        empty main.
        {% endblock %}
    </div>

    <div class="container-fluid mb-1 custom-container">
        {% bootstrap_messages %}
    </div>
    
    <script src="{% static 'vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/croppie/js/croppie.js' %}"></script>

    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    {% block javascript %}
    {% endblock %}
</body>

</html>