{% extends 'app/base.html' %}
{% load staticfiles %}
{% load i18n %}

<!-- javascript -->
{% block javascript %}
<script>
    // default value setting
    $('#id_username').val("{{ request.user.username }}");
    $('#id_age').val("{{ request.user.age }}");
    $('#id_introduction').val("{{ request.user.introduction }}");
    $('#id_is_male').val("{{ request.user.is_male }}");
    // Start upload preview image
    var $uploadCrop,
        tempFilename,
        rawImg,
        imageId;

    function readFile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('.upload-demo').addClass('ready');
                $('#cropImagePop').modal('show');
                rawImg = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
        else {
            swal("Sorry - you're browser doesn't support the FileReader API");
        }
    }

    $uploadCrop = $('#upload-demo').croppie({
        viewport: {
            width: 280,
            height: 350,
        },
        enforceBoundary: true,
        enableExif: true
    });

    $('#cropImagePop').on('shown.bs.modal', function () {
        $uploadCrop.croppie('bind', {
            url: rawImg
        }).then(function () {
            console.log('jQuery bind complete');
        });
    });

    $('.item-img').on('change', function () {
        imageId = $(this).data('id'); 
        tempFilename = $(this).val();
        $('#cancelCropBtn').data('id', imageId); 
        readFile(this);
    });
    $('#cropImageBtn').on('click', function (ev) {
        var cropData = $uploadCrop.croppie('get');
        $('#id_top_left_x').val(cropData.points[0]);
        $('#id_top_left_y').val(cropData.points[1]);
        $('#id_bottom_right_x').val(cropData.points[2]);
        $('#id_bottom_right_y').val(cropData.points[3]);

        $uploadCrop.croppie('result', {
            type: 'base64',
            format: 'jpeg',
            size: { width: 280, height: 350 }
        }).then(function (resp) {
            $('#item-img-output').attr('src', resp);
            $('#cropImagePop').modal('hide');
        });
    });

// End upload preview image
</script>
{% endblock %}

{% block info %}
<h1>{% trans 'My Profile' %}</h1>
<div class="info-category">
    <p>account seting</p>
    <button class="info-button">
        email
    </button>
    <button class="info-button">
        name
    </button>
</div>
<div class="info-category">
    <p>etc</p>
    <a href="{% url 'accounts:log_out' %}">
        <button type="button" class="info-button">
            logout
        </button>
    </a>
</div>
{% endblock %}


{% block main %}

<form method="post" enctype="multipart/form-data" action="{% url 'app:edit' %}" id="formUpload">
{% csrf_token %}
<!-- image 보이기 -->
<img src="{{ request.user.photo.url }}" alt="profile picture" class="gambar img-responsive img-profile"
    id="item-img-output" />
<!-- profile 설명 -->
<div class="filebox">
    <label for="id_photo">
        <img src="{% static 'image/plus.png' %}" alt="upload" />
    </label>
    {{ form.photo }}
</div>
{{ form.top_left_x }}
{{ form.top_left_y }}
{{ form.bottom_right_x }}
{{ form.bottom_right_y }}
<div class="container">
<div class="edit-item">{{ form.username.label }}</div>
<div class="edit-data">{{ form.username }}</div>
<div class="edit-item">{{ form.age.label }}</div>
<div class="edit-data">{{ form.age }}</div>
<div class="edit-item">{{ form.introduction.label }}</div>
<div class="edit-data">{{ form.introduction }}</div>
<div class="edit-item">{{ form.is_male.label }}</div>
<div class="edit-data">{{ form.is_male }}</div>
</div>
<div class="text-center">
<button type="submit" class="btn button button1" id="buttonUpload" style="width: 150px; height: 45px;">Upload</button>
</div>
</form>
<!-- modal for image cropping -->
<div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    <?=multiLanguage( "Edit Foto" , "Edit Photo" )?></h4>
            </div>
            <div class="modal-body">
                <div id="upload-demo" class="center-block"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="cropImageBtn" class="btn btn-primary">Crop</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}